:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.section {
  padding: 10%;
}

.section._1 {
  background-image: url('PROPUESTA-TAMARA-.png');
  background-position: 50%;
  background-size: cover;
  height: 100vh;
}

.section.heroe {
  background-image: url('1_1.png'), url('1.png');
  background-position: 50% 0, 50% 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  height: 100vh;
  padding: 0% 0% 5%;
}

.section._2 {
  background-image: url('3.png'), url('5.png');
  background-position: 100% 0, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, contain;
  padding-bottom: 5%;
}

.section._3 {
  background-image: url('5.png');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
  padding: 0% 3% 0% 2%;
}

.section._4 {
  background-image: url('8.png'), url('5.png');
  background-position: 0 60%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  padding: 5% 0%;
}

.section._5 {
  letter-spacing: 1px;
  background-image: url('12.png'), url('5.png');
  background-position: 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, contain;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section._6 {
  background-image: url('5.png');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
  padding-top: 5%;
}

.section._7 {
  background-image: url('19.png');
  background-position: 100% 80%;
  background-size: cover;
}

.section._8 {
  background-image: url('21.png');
  background-position: 50% 0;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20% 15% 2%;
  display: flex;
}

.navbar {
  background-color: #ddd0;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: static;
  inset: 0% 0% auto;
}

.der {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  font-family: the-seasons, sans-serif;
  font-size: 10px;
}

.nav-link.w--current {
  color: #fff;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.container._1 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding-top: 5%;
  display: flex;
}

.grid {
  grid-template-rows: auto;
  width: 100%;
}

.nav-menu {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.js-clock-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 0;
  display: flex;
}

.box-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
}

.clock-number-2 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  border: .5px #fff;
  border-radius: 8px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  margin-right: 0;
  padding-top: 5px;
  font-family: playfair-display, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.bonita {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
}

.con._1 {
  background-image: url('22.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-bottom: 8%;
  display: flex;
}

.heading {
  color: #545454;
  font-family: the-seasons, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
}

.paragraph {
  color: #545454;
  padding-right: 5%;
  font-family: playfair-display, sans-serif;
  font-size: 14px;
}

.paragraph._1 {
  font-family: playfair-display, sans-serif;
}

.div-block {
  background-image: url('4.png');
  background-position: 50%;
  background-size: cover;
}

.div-block-2 {
  background-image: url('6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  align-items: flex-end;
  height: 245vh;
  padding-bottom: 12%;
  padding-right: 0%;
  display: flex;
}

.link-block {
  width: 80%;
  height: 10%;
}

.heading-2 {
  color: #431213;
  text-align: center;
  letter-spacing: 7px;
  margin-bottom: 0;
  font-family: the-seasons, sans-serif;
  font-size: 25px;
}

.heading-2._1 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}

._w-card-img {
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.c-card-img {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.c-card-quote {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;
  display: flex;
  position: relative;
}

.div-block-19 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-19._2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.paragraph-2 {
  color: #606961;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.paragraph-2._3 {
  text-transform: none;
  font-family: playfair-display, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.paragraph-2._3-copy {
  text-transform: none;
  margin-top: 1%;
  font-family: playfair-display, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.c-flipping-cards-list {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0 0;
  display: flex;
}

.c-card-back {
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 440px;
  display: block;
}

.c-card-front {
  perspective: 1000px;
  background-image: url('10.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 450px;
  display: flex;
}

.c-card-front._1 {
  box-shadow: none;
  background-image: none;
  width: 330px;
}

.c-card-front._2 {
  background-image: url('11.png');
  background-position: 0 0;
  background-size: contain;
}

.c-flip-card {
  position: relative;
}

.cloneable-area {
  padding: 20px 10px;
}

.text-span {
  text-transform: none;
  font-size: 12px;
  line-height: 10px;
}

._w-card-back {
  perspective: 1000px;
  background-color: #fff;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 0%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

._w-card-back._1 {
  padding-bottom: 5%;
}

.link-3 {
  color: #626b63;
  text-decoration: none;
}

._w-flip-card {
  z-index: 10;
  perspective: 1000px;
  display: flex;
  position: relative;
}

.button-2 {
  color: #606961;
  background-color: #3898ec00;
  border: 1px #606961;
  border-bottom-style: solid;
  border-radius: 0;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

._w-card-front {
  perspective: 1000px;
  background-color: #ff6565;
  background-image: linear-gradient(#00000069, #00000069), url('IMG_7087IMG_7086.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  transform: none;
}

._w-card-front._1 {
  background-color: #0000;
  background-image: url('9-.png');
  background-position: 75%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
}

._w-card-front.tw {
  background-color: #8ca7ff;
}

._w-card-front.tw._2 {
  background-color: #0000;
  background-image: none;
  border-radius: 0;
}

._w-card-front.fb {
  background-color: #6670bd;
}

._w-card-front.fb._3 {
  background-color: #0000;
  background-image: none;
  border-radius: 0;
}

.heading-2-copy {
  color: #431213;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  font-family: baskerville-poster-pt, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
}

.heading-2-copy._1 {
  margin-bottom: 5%;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 3%;
}

.grid-2.phone {
  display: none;
}

.paragraph-3 {
  color: #350c0d;
  text-align: center;
  padding-top: 10px;
  font-family: baskerville-display-pt, sans-serif;
  font-style: italic;
}

.link-4 {
  color: #350c0d;
  font-size: 12px;
}

.italic-text {
  text-decoration: none;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3.phone {
  display: none;
}

.link-block-2 {
  background-image: url('15.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
}

.link-block-2._1 {
  background-image: url('24.png');
}

.link-block-2._2 {
  background-image: url('17.png');
}

.fotolarga {
  background-image: url('6.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin-top: 0;
}

.fotolarga.jo._2 {
  background-image: url('18.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 50vh;
}

.fotolarga.jo {
  background-image: url('INV-ANA-PAULINA--7.png'), url('foto.jpg');
  background-position: 0%, 50% 0;
  background-repeat: no-repeat, repeat;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  height: 80vh;
}

.fotolarga.jo._2 {
  background-image: url('18.png');
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}

.fotolarga.jo._2-copy {
  background-image: url('20.png');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
}

.text-field-2 {
  color: #431213;
  text-align: center;
  -webkit-text-stroke-color: #3a393400;
  background-color: #f3f3f300;
  border: 1px solid #431213;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.text-field-2:focus-visible {
  font-size: 12px;
}

.text-field-2[data-wf-focus-visible] {
  font-size: 12px;
}

.text-field-2::placeholder {
  color: #431213;
  font-size: 12px;
  line-height: 20px;
}

.form {
  text-align: center;
  width: 100%;
}

.checkbox-label {
  color: #431213;
  margin-bottom: 0;
  margin-left: 5px;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.form-block {
  color: #61645a;
  width: 100%;
  margin-top: 3%;
}

.checkbox {
  margin-top: 0;
}

.success-message {
  background-color: #ddd0;
}

.checkbox-field {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.submit-button {
  color: #431213;
  letter-spacing: 1px;
  background-color: #bbb9ae00;
  border: 1px solid #797979;
  width: 40%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.field-label-4 {
  color: #431213;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.div-block-72 {
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 10px;
  display: flex;
}

.div-block-73 {
  width: 50%;
  margin-top: 5%;
}

.gri.phone, .navbar-2 {
  display: none;
}

.image {
  margin-bottom: 3%;
}

.text-span-2 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  line-height: 12px;
}

.link-block-3 {
  width: 30%;
  height: 10%;
  margin-bottom: 7%;
}

.link-block-4 {
  width: 30%;
  height: 10%;
}

.heading-3 {
  color: #431213;
  margin-bottom: 0;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.js-clock {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
}

.clock-number {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  border: .5px #fff;
  border-radius: 8px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  margin-right: 0;
  padding-top: 5px;
  font-family: playfair-display, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
}

.bonita-2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  font-family: the-seasons, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
}

.text-span-3 {
  font-size: 9px;
}

.text-block {
  color: #431213;
  font-family: the-seasons, sans-serif;
}

@media screen and (min-width: 1920px) {
  .section._5 {
    background-image: url('12.png'), url('5.png');
    background-position: 100%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
  }

  .js-clock-2, .js-clock {
    text-shadow: none;
  }
}

@media screen and (max-width: 991px) {
  .bonita, .bonita-2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .section._1 {
    background-image: url('Fto.png');
    background-size: cover;
  }

  .section.heroe {
    background-image: url('1_1.png'), url('Copia-de-1.png');
    background-position: 50% 0, 50% 0;
    background-repeat: no-repeat, repeat;
    background-size: cover, contain;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
    display: block;
  }

  .section._2 {
    background-image: url('3.png'), url('5.png');
    background-position: 100% 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
    padding-top: 10%;
  }

  .section._3 {
    padding-left: 5%;
  }

  .section._4 {
    background-image: url('5.png'), url('8.png');
    background-position: 0 0, 0 0;
    background-repeat: repeat-y, no-repeat;
    background-size: contain, contain;
  }

  .section._5 {
    background-image: url('12.png'), url('5.png');
    background-position: 100% 20%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
  }

  .section._6 {
    background-image: url('5.png');
    background-position: 100% 0;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
  }

  .section._8 {
    background-image: url('21.png'), url('5.png');
    background-position: 50% 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;
    height: auto;
    padding-bottom: 5%;
  }

  .navbar.compu, .grid, .grid.phone {
    display: none;
  }

  .js-clock-2 {
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    padding-top: 0%;
    padding-bottom: 0%;
  }

  .box-2 {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .clock-number-2 {
    width: auto;
    height: auto;
    padding: 25% 10%;
    font-size: 8vw;
    line-height: 6vw;
  }

  .bonita {
    font-size: 12px;
    line-height: 10px;
  }

  .con._1 {
    height: 50vh;
    padding-bottom: 15%;
  }

  .heading {
    font-size: 30px;
  }

  .paragraph {
    padding-right: 0%;
    font-family: the-seasons, sans-serif;
    font-size: 10px;
    line-height: 15px;
  }

  .div-block {
    height: 50vh;
  }

  .div-block-2 {
    height: 70vh;
    padding-bottom: 27%;
  }

  .heading-2 {
    font-size: 15px;
  }

  .paragraph-2._3-copy {
    font-size: 11px;
  }

  .c-flipping-cards-list {
    display: block;
  }

  .c-card-back {
    width: 280px;
    max-width: 280px;
    height: 350px;
  }

  .c-card-front, .c-card-front._1 {
    width: 280px;
    max-width: 280px;
    height: 360px;
  }

  .c-card-front._2 {
    width: 280px;
  }

  .cloneable-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .text-span {
    font-size: 12px;
    line-height: 15px;
  }

  .button-2 {
    letter-spacing: 1px;
    font-size: 8px;
    line-height: 12px;
  }

  .heading-2-copy {
    font-size: 25px;
  }

  .grid-2 {
    display: none;
  }

  .grid-2.phone {
    flex-flow: column;
    margin-top: 5%;
    display: flex;
  }

  .paragraph-3 {
    margin-bottom: 10%;
    padding-top: 5%;
  }

  .grid-3 {
    display: none;
  }

  .grid-3.phone {
    flex-flow: column;
    display: flex;
  }

  .link-block-2 {
    height: 35vh;
  }

  .fotolarga {
    background-position: 40%;
  }

  .fotolarga.jo {
    display: none;
  }

  .fotolarga.jo._2 {
    height: 20vh;
    display: block;
  }

  .fotolarga.jo {
    background-position: 50%, 80% 0;
    display: block;
  }

  .fotolarga.jo._2 {
    background-image: url('18.png');
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: contain;
    height: 30vh;
    display: block;
  }

  .fotolarga.jo._2-copy {
    background-image: url('20.png');
    background-position: 45%;
    height: 70vh;
    display: block;
  }

  .text-field-2 {
    font-size: 10px;
    line-height: 12px;
  }

  .text-field-2::placeholder {
    font-size: 10px;
    line-height: 15px;
  }

  .form {
    width: 100%;
  }

  .checkbox-label {
    font-size: 10px;
  }

  .form-block {
    width: 80%;
  }

  .submit-button {
    color: #431213;
    border-color: #431213;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    line-height: 15px;
    display: block;
  }

  .field-label-4 {
    font-size: 10px;
    line-height: 15px;
  }

  .div-block-72 {
    flex-direction: column;
  }

  .div-block-73 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    display: flex;
  }

  .gri.phone {
    flex-flow: column;
    display: flex;
  }

  .navbar-2 {
    background-color: #ddd0;
    display: block;
  }

  .menu-button {
    background-color: #0000;
    padding-top: 25px;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .icon {
    color: #fff;
  }

  .nav-menu-2 {
    background-image: url('Copia-de-1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-link-2 {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: the-seasons, sans-serif;
    font-size: 10px;
    line-height: 15px;
  }

  .nav-link-2:focus-visible {
    color: #fff;
  }

  .nav-link-2[data-wf-focus-visible] {
    color: #fff;
  }

  .image {
    margin-bottom: 5%;
  }

  .link-block-3 {
    margin-bottom: 10%;
  }

  .heading-3 {
    color: #431213;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-family: the-seasons, sans-serif;
    font-size: 12px;
    line-height: 20px;
  }

  .js-clock {
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    padding-top: 0%;
    padding-bottom: 0%;
  }

  .box {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .clock-number {
    text-shadow: 0 0 2px #0003;
    width: auto;
    height: auto;
    padding: 25%;
    font-size: 5vw;
    line-height: 6vw;
  }

  .bonita-2 {
    font-size: 10px;
    line-height: 10px;
  }

  .text-span-3 {
    font-size: 7px;
    line-height: 10px;
  }
}

#w-node-_3d378d4d-732b-1df5-fc6c-dfe7b761c0c0-f3e77880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8179f685-db4f-a496-25ef-1150cbddac58-f3e77880 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_40969447-b76a-3e7e-9990-ccaeb3d5d9f7-f3e77880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_40969447-b76a-3e7e-9990-ccaeb3d5d9fa-f3e77880 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-bc40898e-5e57-3dd5-39c2-7cea786ecb08-f3e77880, #w-node-f7e07a8b-d729-c19e-7efc-1caa1fb62abe-f3e77880, #w-node-_700313c1-76b9-e6e0-183a-7adad7a57fd8-f3e77880, #w-node-_700313c1-76b9-e6e0-183a-7adad7a57fda-f3e77880 {
  place-self: center;
}


